# Implementation

## Initalizing the data 
First the data must be initalized before any data mining tasks can be performed on the data set. Since our data is in the form of tweets, text, then we will have to preprocess the text before we can classify it.

### Read in data set
The data set we are using, a collection of 5000 tweets, is read in from a .CSV file

In [9]:
import pandas as pd

df = pd.read_table('data/Political-media-DFE.csv', skiprows=1, header=None)
df.head()

                                                   0
0  766192484,FALSE,finalized,1,8/4/2015 21:17,nat...
1  766192485,FALSE,finalized,1,8/4/2015 21:20,nat...
2  766192486,FALSE,finalized,1,8/4/2015 21:14,nat...
3  766192487,FALSE,finalized,1,8/4/2015 21:08,nat...
4  766192488,FALSE,finalized,1,8/4/2015 21:26,nat...